---
# Let's add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax"
;


/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

.bio-photo {
	border-radius: 80%;
}

.main-header-content.inner img {
	width: 50px;
}

.home-template .page-title {
	display: inline;
}


figure {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  img {
    margin-bottom: 10px;
  }
  a {
    img {
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		-o-transform: translateY(0);
		transform: translateY(0);
		-webkit-transition-duration: 0.25s;
		-moz-transition-duration: 0.25s;
		-o-transition-duration: 0.25s;

      &:hover {
			-webkit-transform: translateY(-5px);
			-moz-transform: translateY(-5px);
			-ms-transform: translateY(-5px);
			-o-transform: translateY(-5px);
			transform: translateY(-5px);
			-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2);
			-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2);
			box-shadow: 0 0 10px rgba(0,0,0,0.2);
      }
    }
  }
}


// Figure captions

figcaption {
	padding-top: 10px;
	font-size: .980rem;
	line-height: 1.3;
	color: #3c3c3c;
}





